.container {
  width: 300px;
}

.gauge_body {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  box-shadow: rgb(0 0 0 / 24%) 1px 1px 8px;
  background-color: #fff;
  position: relative;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
}

.gauge_fill {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 95%;
  height: 95%;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  background: linear-gradient(
    90deg,
    rgba(54, 172, 215, 1) 0%,
    rgba(255, 229, 0, 1) 0%,
    rgba(231, 231, 0, 1) 24%,
    rgba(17, 253, 4, 1) 25%,
    rgba(19, 248, 4, 1) 80%,
    rgba(237, 172, 0, 1) 80%,
    rgba(255, 160, 0, 1) 95%,
    rgba(255, 20, 0, 1) 95%,
    rgba(255, 0, 0, 1) 100%
  );
  transform-origin: center top;
  transform: translateX(-50%);
  overflow: hidden;
}
.gauge_seperator {
  position: absolute;
  left: 50%;
  width: 4px;
  height: 300px;
  background: #fff;
}

.gauge_track {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 95%;
  height: 95%;
  box-shadow: rgb(0 0 0 / 24%) 1px 1px 8px;
  background-color: #fff;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #696969;
  text-align: center;
}
h2 {
  transition: ease-out 2s all;
}

.tracker_container {
  width: 100%;
  height: 100%;
  position: relative;
}

.tracker {
  position: absolute;
  z-index: 1;
  background-color: rgba(54, 172, 215, 1);
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  left: 1.5%;
}

.fill {
  transition: ease-out 2s all;
}
